* {
    bg-col:  #000000;
    bg-col-light: #000000;
    border-col: #000000;
    selected-col: #000000;
    green: #a6e3a1;
    fg-col: #cdd6f4;
    fg-col2: #B6E354;
    subtext: #6c7086;
    width: 900;
}
